<!-- src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html th:fragment="common_header"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        .clickable {
            cursor: pointer; /* 클릭 가능한 요소를 표시 */
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="p-5 mb-5 text-center bg-light">
    <div class="d-flex justify-content-between">
        <button id="user-del-dtn" type="button" class="btn btn-danger" sec:authorize="isAuthenticated()">
            회원 탈퇴
        </button>
        <div>
            <a type="button" class="btn btn-secondary" sec:authorize="isAuthenticated()" href='/logout'>
                로그아웃
            </a>
            <button type="button" class="btn btn-secondary" sec:authorize="isAnonymous()" onclick="location.href='/login'">
                로그인
            </button>
            <button type="button" class="btn btn-primary" sec:authorize="isAuthenticated()" onclick="location.href='/myPage'">
                마이 페이지
            </button>
        </div>
    </div>
    <h1 sec:authorize="isAuthenticated()" th:text="${#authentication.getName()} + '\'s 블로그'" class="mb-3 clickable" th:onclick="|window.location.href='@{/articles}'|"></h1>
    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>
</body>
<script>
    const userDelButton = document.getElementById('user-del-dtn');

    if (userDelButton != null) {
        userDelButton.addEventListener('click', event => {

            if (confirm("정말 탈퇴하시겠습니까?")) {

                fetch('/api/user', {
                    method: 'delete',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if (response.status === 200 || response.status === 201) {
                        return success();
                    } else {
                        return fail();
                    }
                }).catch(error => fail());

                function success() {
                    alert('탈퇴 되었습니다.');
                    location.replace('/login');
                }
                function fail() {
                    alert('오류가 발생했습니다.');
                    location.replace('/articles');
                }
            }
        });
    }
</script>
</html>