<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전화번호 입력</title>
    <link rel="stylesheet" href="/style/phone-number.css">
</head>
<body>
<div class="container">
    <h1>비밀번호 재설정</h1>
    <h2>이메일 인증</h2>
    <div class="form-group">
        <label for="email">가입했던 이메일:</label>
        <input type="email" class="form-control" id="email" name="email"
               placeholder="이메일 입력">
        <small id="error-message" style="color: red"></small>
    </div>

    <button type="submit" id="send-code-btn" class="btn btn-primary">인증번호 전송</button>
    <a href="/findEmail" class="btn btn-primary">이메일 찾기</a>
    <a href="/login" class="btn btn-secondary">로그인</a>

    <div id="verification-code-container" style="display: none; margin-top: 1rem" class="form-group">
        <label for="verificationCode">인증번호:</label>
        <input type="text" class="form-control" id="verificationCode" name="verificationCode"
               required minlength="6"
               placeholder="인증번호 입력(6자리)">
        <div id="countdown"></div>
        <button style="margin-top: 1rem" id="verify-code-button" class="btn btn-primary">인증번호 확인</button>
    </div>

    <div id="password-input-container" style="display: none; margin-top: 1rem;" class="form-group">
        <label for="newPassword">새로운 비밀번호:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword"
               required
               placeholder="새로운 비밀번호 입력">
        <button style="margin-top: 1rem" type="button" id="submit-new-password" class="btn btn-primary">비밀번호 재설정</button>
    </div>
</div>
</body>
<script>
    document.getElementById("send-code-btn").addEventListener("click", function () {

        const email = document.getElementById("email").value;
        const errorMessage = document.getElementById("error-message");

        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (!emailPattern.test(email)) {
            errorMessage.innerText = "이메일 형식이 올바르지 않습니다.";
            return;
        }

        fetch("/api/verify/email", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "email": email
            })
        }).then(response => response.json())
            .then(data => {
                if (data.code === 200) {
                    document.getElementById("error-message").style.display = "none";
                    document.getElementById("verification-code-container").style.display = "block";
                    startCountdown(5 * 60);
                } else {
                    document.getElementById("error-message").innerText = "인증번호 전송에 실패했습니다.";
                }
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("error-message").innerText = "오류가 발생했습니다.";
            })

    });
    function startCountdown(duration) {
        const display = document.getElementById("countdown");
        let timer = duration, minutes, seconds;

        const intervalId = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                clearInterval(intervalId);
                display.textContent = "시간 초과";
                alert("인증 시간이 초과되었습니다. 로그인 화면으로 이동합니다.");
                window.location.href = "/login";
            }
        }, 1000);
    }

    document.getElementById("verify-code-button").addEventListener("click", function () {

        const email = document.getElementById("email").value;
        const verificationCode = document.getElementById("verificationCode").value;

        fetch("/api/verify/code/email", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "email": email,
                "verificationCode": verificationCode
            })
        }).then(response => response.json())
            .then(data => {
                if (data.code === 200) {
                    alert("인증되었습니다.");
                    document.getElementById("verification-code-container").style.display = "none";
                    document.getElementById("password-input-container").style.display = "block";
                } else {
                    document.getElementById("error-message").innerText = "인증번호 확인에 실패했습니다.";
                }
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById("error-message").innerText = "오류가 발생했습니다.";
            })

    });

    document.getElementById("submit-new-password").addEventListener("click", function () {

        const email = document.getElementById("email").value;
        const newPassword = document.getElementById("newPassword").value;

        const errorMessage = document.getElementById("error-message");
        const pattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$/;
        if (!pattern.test(newPassword)) {
            errorMessage.innerText = "비밀번호 형식이 올바르지 않습니다.";
            return;
        }

        fetch("/api/user/newPassword", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "email": email,
                "newPassword": newPassword
            })
        }).then(response => response.json())
            .then(data => {
                if (data.code === 200) {
                    alert("변경되었습니다.");
                    window.location.href = '/login';
                }
            })
    });
</script>
</html>