<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/loginPage.css">
</head>
<body class="gradient-custom">
<section class="d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card bg-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

                <h2 class="text-white">로그인</h2>

                <div th:if="${param['invalid-session']}">
                    <span th:text="#{session.expired}" class="alert alert-info"></span>
                </div>

                <div th:if="${param.success}">
                    <span th:text="#{signup.success}" class="alert alert-info" ></span>
                </div>

                <div th:if="${param.error}" class="form-group">
                    <span th:text="${exception}?: '잘못된 아이디나 암호입니다'" class="alert alert-danger"></span>
                </div>

                <form th:action="@{/loginProc}" method="post">
                    <div class="form-group">
                        <label for="email"></label>
                        <input type="text" class="form-control" id="email" name="email" required placeholder="이메일">
                        <label for="password"></label>
                        <input type="password" class="form-control" id="password" name="password" required placeholder="비밀번호">
                    </div>
                    <div class="form-actions">
                        <a th:href="@{/signup}" class="link">회원가입</a>
                        <a th:href="@{/findEmail}" class="link" style="margin-left: 1rem">이메일 찾기</a>
                        <a th:href="@{/password-reset}" class="link" style="margin-left: 1rem">비밀번호 찾기</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block" id="login-btn">로그인</button>
                        <a th:href="@{/guest}" class="btn btn-secondary btn-block">비회원으로 구경하기</a>
                    </div>
                </form>

                <div class="divider">
                    <p>소셜 계정으로 간편 로그인</p>
                </div>

                <div class="social-icons mt-4">
                    <div class="mb-2">
                        <a th:href="@{/oauth2/authorization/google}">
                            <img src="/images/google.png" class="social-icon">
                        </a>
                    </div>
                    <div class="mb-2">
                        <a th:href="@{/oauth2/authorization/naver}">
                            <img src="/images/naver.png" class="social-icon">
                        </a>
                    </div>
                    <div class="mb-2">
                        <a th:href="@{/oauth2/authorization/kakao}">
                            <img src="/images/kakao.png" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>